.main-wrap {
    padding: 20px;
    width: 100%;
    display: flex;

    .left-container {
        min-width: 400px;
        max-width: 400px;
        padding: 20px;
        background: #1E2A47;
        border-radius: 20px;
        color: #E0E0E0;
        display: flex;
        flex-direction: column;
        gap: 30px;

        &>div {
            border: 1px solid #e0e0e0;
            padding: 15px;
        }

        .my-ticketbook-wrap {
            min-height: 150px;

            .title {
                font-size: 20px;
                font-weight: 700;
                margin-bottom: 15px;
            }

            .my-ticketbook-content-wrap {
                .my-ticketbook-content {
                    margin-bottom: 8px;
                    display: flex;
                    gap: 8px;

                    .content-text {
                        white-space: nowrap;
                    }
                }
            }
        }

        .recently-view-wrap {
            display: flex;

            .poster-wrap {
                margin-right: 20px;

                .poster-img {
                    max-width: 160px;
                    max-height: 230px;
                    background-color: #d9d9d9;

                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }

            .recently-view-info {
                .title {
                    font-size: 20px;
                    font-weight: 700;
                    margin-bottom: 15px;
                }

                .info-list-wrap {
                    &>p {
                        line-height: 1.4;
                        margin-bottom: 5px;
                    }
                }

                .edit-btn {
                    border: 1px solid #e0e0e0;
                    background: #e0e0e0;
                    color: #212121;
                    width: 125px;
                    height: 40px;
                    font-size: 18px;
                    transition: 0.5s;

                    &:hover {
                        background: #FFBF00;
                        border-color: #FFBF00;
                    }

                    &>button {
                        display: inline-block;
                        width: 100%;
                        height: 100%;
                        cursor: pointer;
                    }
                }

            }
        }

        .menu-wrap .menu-list {
            .menu-list-container {
                display: flex;
                flex-direction: column;
                gap: 20px;

                .menu-list-item {
                    border: 1px solid #e0e0e0;
                    height: 50px;
                    cursor: pointer;

                    a {
                        display: inline-flex;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                        padding: 10px;
                    }

                    .icon {
                        font-size: 20px;
                        transition: 0.5s;
                        margin-right: 10px;
                    }

                    &:hover .icon {
                        color: #FFBF00;
                    }
                }
            }

        }
    }

    .right-container {
        min-width: 985px;
        padding: 20px;
        background: #1E2A47;
        border-radius: 20px;

        .control-panel-wrap {
            margin-bottom: 20px;

            .control-panel-container {
                display: flex;
                justify-content: space-between;

                .control-btn {
                    width: 210px;
                    height: 60px;
                    border-radius: 15px;
                    background-color: #fff;

                    &>button {
                        display: inline-flex;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                        padding: 20px;
                        font-size: 18px;
                        line-height: 1.5;
                        cursor: pointer;
                        border: 1px solid #fff;
                        transition: 0.5s;
                        border-radius: 15px;

                        &.add-ticket-btn {
                            background-color: #FFBF00;
                            border-color: #e0e0e0;

                            &:hover {
                                background-color: #1E2A47;
                                border-color: #FFBF00;
                                color: #FFBF00;
                            }
                        }

                        .btn-icon {
                            font-size: 20px;
                            display: inline-block;
                            width: 20px;
                            margin-right: 10px;
                        }
                    }
                }
            }
        }

        .ticket-list-wrap {
            .ticket-list-container {
                display: flex;
                flex-wrap: wrap;
                gap: 20px;

                .ticket-list-item {
                    display: flex;
                    justify-content: space-between;
                    padding: 15px;
                    background: #fff;
                    border-radius: 15px;
                    min-width: 420px;
                    width: calc(50% - 10px);
                    min-height: 200px;

                    .ticket-info-wrap {
                        display: flex;
                        flex-direction: column;
                        gap: 8px;
                        font-size: 20px;
                        margin-right: 50px;

                        .ticket-title {
                            font-size: 24px;
                            font-weight: 700;
                            margin-bottom: 10px;
                        }

                        .star {
                            color: #FFBF00;
                            font-size: 32px;

                            svg {
                                margin-right: 5px;
                            }
                        }
                    }

                    .poster-wrap {
                        margin-right: 15px;

                        .poster-box {
                            width: 200px;
                            height: 100%;
                            background-color: #d9d9d9;

                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}